h2 {
    text-align: center;
    width: 100%;
}


.imgperso {
    width: 365px !important;
    height: 365px !important;
    /*width: 30% !important;
   /* height: 30% !important;               /* -> A voir pour l'affichage avec Google Chrome...*/
}
.car-perso{
 max-width: 67%;
}

.btnColor {
    background-color: #93c83e !important;
    color: #ffffff !important;
}
