*{
    margin: 0;
    padding: 0;
}

.header {
    /*position: relative;*/
    background-image: url("/png/effect-header.png") ;
    background-repeat: no-repeat;
    display: flex;
    justify-content: space-between;
    height: 10em;
    padding-top: 2em;
    /*background-position: center;*/
}

.panier{
    position: relative;
    height: 50px;
    color: #000;
}

.cart{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1em;
}

.cart_wrapper {
    margin-right: 30px;
}

.icons_wrapper{
    position: absolute;
    right: 20px;
    top: 50px;
    padding: 50px;
    display: flex;
    justify-content: center;




}

